/*
* GCC DEMO RESOURCE FILE
* BY NINJIHAKU SOFTWARE
*/

#include <windows.h>

/* Versions are ISO 8601 dates, preceded of a letter that indicates which
kind of compilation the executable is (R for Release, D for Debug, and E for Experimental).
So a Release executable compiled in 09/09/2015 would get the R2015W3510 version label.
*/
#define VERSTRING_REL "B50E20151222"
#define VERSTRING_DBG "B50B20151222"
#define VERSTRING_EXP "SB50D20151222"

//The icon of our application
#ifdef _release_
IDI_APPICON ICON "thief_blue.ico"
#elif _experiment_
IDI_APPICON ICON "thief_bw.ico"
#else
IDI_APPICON ICON "thief_red.ico"
#endif

//Assembly information (Name, version, company, etc)
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        1,0,0,0
PRODUCTVERSION     1,0,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "Ninjihaku Software"
      VALUE "FileDescription", "/f/lockdraw chat"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "Fake /f/lockdraw client"
      VALUE "LegalCopyright", "©2015 Ninjihaku Software"
	  #ifdef _debug_
	  VALUE "OriginalFilename", "flockcon-debug.exe"
	  #elif _experiment_
	  VALUE "OriginalFilename", "flockcon-exp.exe"
	  #else
      VALUE "OriginalFilename", "flockcon.exe"
	  #endif
      VALUE "ProductName", "/f/lockdraw chat"
	  #ifdef _debug_
      VALUE "ProductVersion", VERSTRING_DBG
	  #elif _experiment_
	  VALUE "ProductVersion", VERSTRING_EXP
	  #else
	  VALUE "ProductVersion", VERSTRING_REL
	  #endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END